node_modules
.pnpm-store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
build
coverage
.cache
.tmp
out

.env
.env.*
!.env.example

.vscode
.idea
*.swp
.DS_Store
Thumbs.db

__tests__
test
*.spec.ts
*.test.ts
docs
